python-dotenv
aiohttp
requests
neo4j
sentence_transformers
langchain_mcp_adapters
pydantic
a2a-sdk
langchain_groq
langgraph
langchain
langchain_community
mcp
fastapi
uvicorn
httpx
pytest
pytest-asyncio
mcp-proxy
uv