{
  "mcpServers": {
    "everything": {
      "enabled": true,
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-everything"
      ],
      "env": {},
      "transportType": "stdio"
    },
    "sequential-thinking": {
      "enabled": true,
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ],
      "env": {},
      "transportType": "stdio"
    },
    "time": {
      "enabled": true,
      "command": "uvx",
      "args": [
        "mcp-server-time"
      ],
      "env": {},
      "transportType": "stdio"
    }
  }
}

